@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply rounded-xl selection:bg-pro-300 selection:text-pro-50;
  }
  h1 {
    @apply text-2xl font-bold capitalize text-progray-300 sm:text-3xl;
  }
  h2 {
    @apply text-xl font-bold capitalize text-progray-300 sm:text-2xl;
  }
  h3 {
    @apply text-lg font-bold capitalize text-progray-300 sm:text-xl;
  }
  p {
    @apply text-sm text-progray-200 sm:text-base;
  }
  a {
    @apply text-pro-300;
  }
}

@layer components {
  .btn-primary {
    @apply bg-pro-300 font-bold text-pro-50 transition-colors hover:bg-pro-200 disabled:bg-pro-200;
  }
  .btn-secondary {
    @apply bg-pro-50 font-bold text-pro-300 transition-colors hover:bg-pro-100 disabled:bg-pro-100;
  }
  .btn-light {
    @apply text-progray-200 transition-colors hover:bg-progray-50;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .nav-link {
    @apply flex-center h-12 w-12 rounded-2xl transition-colors;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes half-pop-up {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes half-pop-down {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #DDD;
  border-radius: 5px;
  border: 2.5px white solid;
}

/* Change the input autofill background color */
input:-webkit-autofill {
  -webkit-background-clip: text;
}
